@import url("/home/fin/.config/waybar/colours/colours.css");

*{
    font-family: "Iosevka Nerd Font Propo", monospace;
    background: transparent;
}

window#waybar {
    color: @flamingo;
    background: @base;
    border-radius: 12px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @flamingo;
}

#waybar {
    border-radius: 7px;
}

#waybar .module{
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @flamingo;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    box-shadow: inset 0 -2px @flamingo
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

