@import url("/home/fin/.config/waybar/colours/colours.css");

*{
    all: unset;
    font-family: "Iosevka Nerd Font Propo", monospace;
}

window#waybar {
    color: @flamingo;
    background: @base;
}

