@import url("/home/fin/.config/waybar/colours/colours.css");

*{
    font-family: "Iosevka Nerd Font Propo", monospace;
}

window#waybar {
    color: @flamingo;
    background: @base;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @flamingo;
}

#waybar {
    border-radius: 7px;
}

#waybar .module{
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @flamingo;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused,
#workspaces button.active {
    position: relative; /* required for the pseudo-element */
}

#workspaces button.focused::after,
#workspaces button.active::after {
    content: "";
    position: absolute;
    bottom: 0;          /* stick to bottom */
    left: 2px;          /* inset from left */
    right: 2px;         /* inset from right */
    height: 4px;        /* thickness of the rectangle */
    background-color: @flamingo;
    border-radius: 2px; /* rounded edges */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

