@import url("/home/fin/.config/waybar/colours/colours.css");

*{
    font-family: "Iosevka Nerd Font Propo", monospace;
}

window#waybar {
    color: @flamingo;
    background: @base;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @flamingo;
}

#waybar {
    border-radius: 10px;
    
}

